{{ 'latest-blogs-snippet.css' | asset_url |  stylesheet_tag }}
<div class="latest_blogs_section_container">
    <h1 class="posts_title">Latest Posts</h1>
    <div class="blog_cards_container">
        {% assign blog_posts = blogs['bloomy-blogs'].articles | slice: 0, 3 %}
        {% for post in blog_posts %}
            <div class="blog_card">
                <a class="image_blog"  href="{{ post.url }}">
                <img src="{{ post.image.src |  image_url }}" alt="{{ post.title }}">
                </a>
                <div class="info_blog">
                <h2 class="date_blog">{{ post.published_at | date: "%B %d, %Y" }}</h2>
                {% assign words_per_minute = 200 %}
                {% assign content_words = post.content | split: "" | size %}
                {% assign minutes_reads = content_words | divided_by: words_per_minute %}
                <h3 class="min_reads">3 min read</h3>
                </div>
                <a href="{{ post.url }}" class="blog_title" style="text-decoration: none;">{{ post.title }}</a>
            </div>     
        {% endfor %}
        </div> 
</div>  