{{ "gift-finder-section.css" | asset_url | stylesheet_tag }}
<gift-finder>
<section class="gift_finder_container">
    <div class="starter_spash_screen">
        <div class="main_splash_content">
            <h2>‘The manner of giving is worth more than the gift.’</h2>
            <cite>Pierre Corneille</cite>
        </div>
    </div>
    <div class="final_animation_screen">
        <div class="main_animation_screen_content">
            <span>Finding a suitable gift...</span>
            <div class="images_svg_container">
                <svg class="svg-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 203 531" version="1.1"
                    xml:space="preserve"
                    style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                    <g transform="matrix(1,0,0,1,-198.8,-34.8435)">
                        <path
                            d="M273.8,84L273.8,82.6C273.8,78.8 273.9,75 273.8,71.2C273.8,69.1 274.7,67.7 276.5,66.9C277.8,66.3 279.1,66.1 280.5,65.7C281.1,65.5 281.7,65.5 282.4,65.3L282.4,61.4C280.8,61.1 279.2,60.7 277.6,60.4C267.8,58.3 258,56.2 248.2,54.3C243.4,53.3 238.5,52.7 233.5,52.8C231.4,52.9 229.3,53.2 227.2,53.4C226.9,53.4 226.6,53.5 226.3,53.6C225,53.8 224,53.5 223.1,52.5C221,50 218.8,47.6 216.7,45.1C215.7,43.9 214.8,42.5 214.1,41.1C213.3,39.7 213.6,39.1 215.1,38.5C219.5,36.8 224,35.8 228.6,35.2C234.2,34.5 239.6,34.9 245.2,35.8C250.2,36.6 255.2,37 260.2,37.6C267,38.4 273.9,39.1 280.7,39.9C283.1,40.2 304.1,41.6 305.1,41.6C309,41.6 312.9,41.5 316.8,41.4C318.7,41.3 320.6,40.9 322.5,40.8C324,40.7 325.6,40.9 327.1,41.2C328.8,41.5 330.2,42.5 331.2,44C331.5,44.5 331.8,45.2 331.8,45.7C331.6,47 331.3,48.2 331,49.5C330.7,50.5 329.8,51.2 328.8,51.6C326.9,52.3 325,53 323.1,53.7C321.1,54.3 321,54.3 321,56.5C321,59 321,61.5 320.9,64L320.9,65.4C322,65.6 323,65.7 323.9,65.9C325,66.1 326.1,66.4 327.1,66.8C329,67.5 330,68.9 330,71C330,75 330.2,79 330.2,82.9C330.2,83.3 330.3,83.7 330.3,84.2C331.3,84.4 332.3,84.5 333.2,84.7C335,85.1 336.9,85.4 338.7,85.9C341.3,86.6 342.1,87.5 342.3,90.2C342.5,92.9 342.5,95.6 342.7,98.2C343,105.3 343.4,112.4 343.7,119.5C343.9,123.8 344.1,128.2 344.4,132.5C344.5,134.3 344.8,136 344.9,137.8C345,139.2 344.7,139.7 343.4,140.1C341.3,140.6 339.1,140.9 336.9,141.2C336.5,141.3 336,141.3 335.6,141.3C334.5,145.4 334.9,149.5 334.7,153.6C334.5,157.5 334.6,161.5 334.7,165.4C334.7,166.7 335,168 335.4,169.2C336.5,172.7 338.3,175.8 340.9,178.5C345,182.9 349.4,186.8 353.9,190.8C361,197 368.1,203.3 375.1,209.6C378,212.2 380.6,214.9 383.3,217.7C391.1,225.8 396,235.5 398.6,246.3C400.2,252.8 401,259.4 401,266.1L400.7,381.3C400.6,412 400.5,442.8 400.4,473.5C400.4,481 400,488.4 399.8,495.9C399.7,499.8 399.6,503.7 398.8,507.5C398.1,510.8 397.2,514 396.4,517.3C394.5,525 391.3,532.3 387.7,539.3C386.4,542 384.9,544.6 383.4,547.2C381.4,550.6 378.6,553.1 375.1,555C371.2,557.1 366.9,558.4 362.6,559.5C356.2,561 349.7,562.1 343.2,562.9C335.3,564 327.3,564.8 319.3,565C311,565.3 302.8,565.4 294.5,565.4C288.5,565.4 282.5,565.3 276.5,564.8C264.1,563.9 251.7,562.9 239.6,560C235.4,559 231.3,557.8 227.3,556.2C225.4,555.4 223.5,554.5 221.6,553.5C219.7,552.5 218.1,551 216.8,549.3C215.6,547.6 214.5,545.9 213.6,544.1C208.4,533.4 204,522.5 201.1,510.9C200.1,507.1 199.5,503.2 199.5,499.2L199.5,487C199.3,461 199.2,435 199,409C198.9,395.6 198.8,382.2 198.8,368.9C198.9,341.9 199,314.9 199.1,287.8C199.1,278.2 199,268.7 198.9,259.1C198.8,252.8 200.2,246.8 202.3,241C206.5,229.4 213.2,219.5 222.1,211.1C229,204.6 236.2,198.3 243.2,191.9C248.1,187.4 252.8,182.7 257.6,178C258.5,177.1 259.3,176.1 260.2,175.1C263.3,171.7 264.6,167.7 264.8,163.2C264.9,161.2 264.8,159.2 264.7,157.2L264.4,144.3L264.4,143.9C264.3,141.8 264.3,141.8 262.2,141.4C261,141.2 259.8,140.9 258.7,140.5C257.7,140.2 257.6,140 257.7,138.9C258.6,122.7 258.7,106.4 259.1,90.2C259.1,88.9 259.7,87.8 260.8,87.2C261.7,86.7 262.7,86.2 263.8,86C266.7,85.4 269.6,84.9 272.5,84.4C272.9,84.2 273.3,84.1 273.8,84Z"
                            style="fill-rule:nonzero;" />
                    </g>
                </svg>
                <svg class="svg-2" xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="2" version="1.1" viewBox="0 0 151 461" xml:space="preserve">
                    <g transform="translate(-224.6 -69.961)">
                        <path
                            d="m318.7 481.1 0.6 0.3c0.4 0.2 0.8 0.4 1.2 0.7 0.3 0.2 0.4 0.5 0.4 0.9-0.4 4.3-0.8 8.6-1.1 12.9-0.3 3.4-0.6 6.7-0.9 10.1-0.4 4.7-0.8 9.3-1.3 14-0.2 1.9-0.4 3.9-0.5 5.8 0 1.1-0.6 1.6-1.4 2-1.8 1-3.8 1.4-5.9 1.6-0.2 0-0.4 0-0.6 0.1-1 0.4-2 0.3-3 0.4-0.5 0-1 0-1.6 0.1-2.7 0.3-5.5 0.1-8.2 0.1-0.8 0-1.6-0.1-2.5-0.2-0.7 0-1.4-0.1-2-0.1-1.6-0.1-3.2-0.5-4.9-0.8-1-0.2-2-0.6-3-0.9-0.5-0.2-1-0.5-1.5-0.8-0.3-0.2-0.5-0.6-0.5-1l-0.9-9.9c-0.4-4.1-0.7-8.2-1.1-12.2-0.3-3-0.5-5.9-0.7-8.9-0.3-4.1-0.7-8.1-1.1-12.2-0.1-0.8 0.2-1.3 1-1.6 0.3-0.1 0.7-0.2 1-0.3l0.3-0.3c0-0.1-0.1-0.3-0.2-0.3-0.3-0.2-0.5-0.3-0.8-0.4-7.8-3.6-15.7-7.2-23.5-10.9-1.3-0.6-2.5-1.3-3.8-2-0.7-0.4-1.1-1-1.3-1.8-0.1-0.5-0.1-1-0.2-1.5-0.1-3.3-0.3-6.5-0.4-9.8-0.3-5.7-0.6-11.5-0.9-17.2-0.4-8-0.8-16-1.3-24.1-0.2-4.6-0.5-9.1-0.7-13.7-0.4-8.2-0.9-16.5-1.3-24.7-0.4-6.8-0.7-13.7-1.1-20.5-0.4-7.8-0.8-15.5-1.2-23.3-0.4-6.6-0.7-13.3-1.1-19.9-0.4-7.6-0.8-15.3-1.3-22.9-0.2-4.5-0.5-9-0.7-13.4-0.4-7.5-0.8-14.9-1.3-22.4-0.4-6.3-0.7-12.7-1.1-19-0.5-8.1-0.9-16.3-1.4-24.4-0.2-4.2-0.5-8.5-0.7-12.7-0.5-8.3-0.9-16.5-1.4-24.8-0.4-6.6-0.7-13.3-1.2-19.9-0.6-7.8-1.3-15.5-2.1-23.3-0.7-7.1-1.6-14.2-2.6-21.2-1.1-7.5-2.4-14.9-3.5-22.4-0.3-1.7-0.3-3.4-0.4-5.1-0.1-2.2-0.3-4.4-0.4-6.7v-1.2c0.1-0.7 0.4-1 1-1.1 0.4-0.1 0.8-0.1 1.1-0.1 6.7 0 13.4 0.1 20.1 0.1 10.1 0 20.2 0 30.3-0.1 8.9-0.2 17.8-0.3 26.7-0.2 13.1 0.1 26.1 0.2 39.2 0.3 7.3 0 14.6 0 21.9-0.1h8.8c0.7 0.1 1 0.4 1 1.1v1.5c-0.1 2.3-0.3 4.7-0.4 7-0.1 1-0.3 1.9-1.1 2.6-0.2 0.2-0.3 0.6-0.4 1-0.6 3.4-1.3 6.8-1.9 10.2-1.5 9.3-2.7 18.7-3.5 28.1-0.8 9.5-1.6 19-2.3 28.5-0.7 9.3-1.3 18.6-1.9 27.9l-1.2 20.7c-0.5 8-0.9 16-1.4 24.1-0.4 6.4-0.7 12.8-1.1 19.2-0.4 7.7-0.8 15.3-1.2 23-0.4 6.7-0.7 13.4-1.1 20.1-0.4 8-0.8 15.9-1.3 23.9-0.3 5.8-0.6 11.6-0.9 17.4-0.4 7.1-0.7 14.2-1.1 21.3-0.3 5.9-0.6 11.9-0.9 17.8-0.4 7.4-0.7 14.9-1.1 22.3-0.2 5.1-0.5 10.1-0.7 15.2-0.4 7.4-0.7 14.8-1.1 22.2-0.3 6.1-0.6 12.2-0.9 18.3-0.3 6.4-0.6 12.8-0.9 19.2 0 0.7-0.1 1.3-0.1 2 0.1 1.7-0.8 2.7-2.2 3.4-0.6 0.3-1.2 0.6-1.9 0.9-8.4 3.9-16.8 7.7-25.3 11.6-0.3 0.1-0.6 0.3-0.9 0.4 0.8-0.1 0.8-0.1 0.8 0z"
                            fill-rule="nonzero" />
                    </g>
                </svg>
                <svg class="svg-3" xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="2" version="1.1" viewBox="0 0 114 337" xml:space="preserve">
                    <g transform="translate(-242.7 -131.65)">
                        <path
                            d="m243.1 369.1v-72.4c0-3.9 0-7.8 0.2-11.8 0.4-11.8 5.9-20.8 15.6-27.3 2.3-1.6 4.8-2.9 7.3-4.1 3.5-1.6 6.4-3.9 8.3-7.3 0.8-1.4 1.5-2.9 1.6-4.5 0.1-1.4 0-2.8 0-4.2 0-0.3-0.3-0.6-0.6-0.7-0.5-0.3-1.1-0.5-1.7-0.7-0.9-0.3-1.2-0.7-0.9-1.7 0.3-0.9 0.7-1.7 1-2.6 0.4-0.9 0.2-1.1-0.7-1-0.7 0.1-1.4 0.1-2.1 0.1-0.4 0-0.6-0.1-0.6-0.6 0-1.4-0.1-2.9 0.1-4.3 0.6-4.4 0.2-8.8 0.3-13.2s0.1-8.9 0.1-13.3v-2.8c0-0.7 0.3-1.3 1-1.6 0.2-0.1 0.4-0.5 0.4-0.7-0.1-1.8 0.9-3 2.9-3.3 1.9-0.3 3.8-0.4 5.6-0.6 0.5-0.1 1.1-0.1 1.6-0.2 0.6-0.1 0.7-0.2 0.7-0.9-0.1-2.3-0.2-4.5-0.4-6.8-0.1-1 0.3-1.7 1-2.3 0.5-0.4 0.6-0.9 0.6-1.5 0.3-5.8 0.6-11.5 1-17.3 0.3-4.9 0.5-9.9 0.8-14.8 0.1-1.6 0.2-3.3 0.4-4.9 0.4-2.6 1.5-4.8 3.9-6.2 0.3-0.1 0.5-0.4 0.6-0.7 0.3-0.5 0.7-0.8 1.3-0.8s1.2 0 1.8-0.1c0.8-0.1 1.1-0.5 0.7-1.3-0.2-0.3 0-0.6 0.2-0.7 0.3-0.1 0.7-0.2 1.1-0.2 2.8-0.2 5.5-0.2 8.3 0 0.4 0 0.7 0.1 1.1 0.2s0.5 0.4 0.3 0.8c-0.3 0.7 0 1.1 0.7 1.2 0.5 0 1.1 0 1.6 0.1 0.6 0 1 0.2 1.2 0.7 0.2 0.3 0.4 0.6 0.6 0.7 2.5 1.8 3.8 4.2 4 7.2 0.2 1.8 0.2 3.6 0.2 5.4 0.3 9.1 0.5 18.1 0.8 27.2 0 1.5 0.1 3 0.2 4.5 0 0.4 0.1 0.8 0.5 1 0.7 0.6 1.1 1.3 1 2.3-0.2 2.2-0.3 4.5-0.8 6.7-0.1 0.5 0 0.6 0.6 0.7l6.3 0.6c0.7 0.1 1.4 0.2 2 0.5 1.3 0.5 2 1.5 2 3 0 0.5 0.1 0.9 0.6 1.1 0.6 0.3 0.6 0.9 0.6 1.5v3.3c0 8.1 0 16.2 0.1 24.3 0 1.8 0.2 3.7 0.4 5.5 0.1 0.7 0.1 0.7-0.6 0.8h-1.9c-0.7 0-0.9 0.2-0.7 0.9 0.2 0.8 0.5 1.5 0.7 2.3 0 0.1 0.1 0.2 0.1 0.4 0.4 1.3 0.1 1.6-1.2 1.7s-1.8 0.6-1.7 1.9c0.2 1.7 0.4 3.4 0.8 5.1 0.6 3 2.3 5.5 4.9 7.2 2.1 1.4 4.3 2.6 6.5 3.9 4.2 2.5 8.1 5.3 11.7 8.6 3.5 3.3 5.8 7.4 7.3 11.9 1.4 4.3 2 8.8 2 13.3v126.2c0 12.6-0.1 25.2-0.2 37.8 0 1.8-0.4 3.6-1.1 5.3-0.6 1.5-1.8 2.5-3.2 3.3-1 0.6-2.1 1.2-3.2 1.7-0.5 0.3-1.1 0.3-1.7 0.5-0.1 0-0.3 0-0.4 0.1-1.8 0.9-3.8 1.1-5.7 1.6-0.9 0.2-1.8 0.2-2.7 0.3-0.8 0-1.5 0.2-2.2 0.5-0.6 0.2-1.2 0.1-1.8 0.2-0.4 0-0.8 0-1.2 0.2-0.8 0.3-1.7 0.5-2.6 0.5-0.6 0-1.2 0.1-1.7 0.3-0.7 0.2-1.4 0.3-2.1 0.2-0.3-0.1-0.7 0-1 0.1-1 0.3-2.1 0.4-3.1 0.3-0.6-0.1-1.2 0.1-1.8 0.3-0.5 0.2-1.2 0.3-1.7 0.2-1.1-0.2-2.1 0-3.1 0.2-0.7 0.1-1.3 0-2 0.1-0.8 0.1-1.6 0.2-2.4 0.2-0.5 0-1 0.1-1.4 0-0.8-0.1-1.6-0.1-2.4 0-0.9 0.2-1.8 0-2.7 0h-5.4c-0.5 0-1 0.1-1.5 0-0.9 0-1.8-0.1-2.7-0.1-0.5 0-0.9 0.1-1.4 0.1h-2.7c-0.5 0-0.9-0.1-1.4 0-1.2 0.1-2.4 0-3.6-0.2-0.7-0.1-1.4 0-2.1 0s-1.4-0.1-2-0.2c-0.8-0.2-1.5-0.3-2.3-0.1-0.4 0.1-1 0-1.4-0.1-0.8-0.3-1.6-0.3-2.4-0.1-0.6 0.1-1.2 0.1-1.8-0.1s-1.3-0.2-1.9-0.3c-0.5-0.1-1.1 0-1.6-0.2-1-0.3-1.9-0.7-2.9-0.4-0.3 0.1-0.6 0-0.9-0.1-0.8-0.1-1.7-0.2-2.5-0.3-0.4-0.1-0.8-0.2-1.3-0.3-0.4-0.1-0.9-0.2-1.3-0.3-0.6-0.1-1.1-0.2-1.7-0.3-0.4-0.1-0.7-0.1-1.1-0.1-0.6-0.1-1.2-0.3-1.8-0.4-0.1 0-0.1-0.1-0.2-0.1-1.1 0.1-2-0.4-3.1-0.6-0.4-0.1-0.8-0.2-1.2-0.4-0.1 0-0.3-0.2-0.4-0.2-1.7-0.1-3.2-0.8-4.5-1.7-1.5-1.1-2.9-2.3-3.9-4-0.7-1.1-0.9-2.3-1-3.6-0.1-2.6-0.1-5.1-0.1-7.7-0.1-12.2-0.2-24.3-0.2-36.5 0.5-13.8 0.5-27.4 0.4-41z"
                            fill-rule="nonzero" />
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="navigation_container"> 
        <div class="back_btn_wrapper">
            <svg aria-labelledby="rightArrow-:R35n6:" class="Icon_base__GKZ58 Icon_dark__IcVZw" data-testid="data-testid-Icon" focusable="false" height="12" role="img" style="height:12px;width:12px" tabindex="-1" viewBox="0 0 50 50" width="12"><title id="rightArrow-:R35n6:">rightArrow</title><g><path d="M30.1,5.3L50,25.1L30.1,45h-6.6l18-17.6H0v-4.8h41.5l-18-17.6h6.6V5.3z"></path></g></svg>
            <span class="back_txt">Back</span>
        </div> 
    </div> 
    <div class="steps_progress_container">
        <div class="step_bar current_step"></div>
        <div class="step_bar"></div>
        <div class="step_bar"></div>
        <div class="step_bar"></div>
    </div>

    {% comment %}
        Here Will Be the rendered Steps
    {% endcomment %}
    <div class="steps_container">
        <div class="step_container current_step">
            <h1 class="question">Selecting a gift can prove challenging. Let us assist you. </h1>
            <button class="btn"><span>Find a gift</span></button>
            <div class="image_container"><img src="https://www.aesop.com/u1nb1km7t5q7/5Ol3w4l9ZQvwnLUs66fcXv/19b306cf60fce2be416005c6e6d280aa/Aesop_Gift_Finder_2023_Web_Option_2_Full_Width_Banner_Tablet_790x320px.png" alt=""></div>
        </div>
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when '@app' -%}
                    {% render block %}
                {%- when 'gift_question_answers' -%}
                    <div class="step_container">
                        <h1 class="question">{{ block.settings.question }}</h1>
                        <button class="btn step-{{ forloop.index }}-answer-1"><span>{{ block.settings.answer_1 }}</span></button>
                        <button class="btn step-{{ forloop.index }}-answer-2"><span>{{ block.settings.answer_2 }}</span></button>
                        <button class="btn step-{{ forloop.index }}-answer-3"><span>{{ block.settings.answer_3 }}</span></button>
                        <div class="image_container"><img src="https://www.aesop.com/u1nb1km7t5q7/5Ol3w4l9ZQvwnLUs66fcXv/19b306cf60fce2be416005c6e6d280aa/Aesop_Gift_Finder_2023_Web_Option_2_Full_Width_Banner_Tablet_790x320px.png" alt=""></div>
                    </div>                 
            {%- endcase -%}
        {%- endfor -%}
    </div>
</section>
</gift-finder>
{{ 'gift-finder-section.js' |  asset_url |  script_tag }}
{% schema %}
{
    "name": "Gift Finder",
    "settings": [
        
        ],
    "blocks": [
        {
            "name": "Gift Question/Answers",
            "type": "gift_question_answers",
            "settings": [
                {
                    "type": "text",
                    "id": "question",
                    "label": "Add a question"
                    
                },
                {
                    "type": "text",
                    "id": "answer_1",
                    "label": "Add Answer 1"
                    
                },
                {
                    "type": "text",
                    "id": "answer_2",
                    "label": "Add Answer 2"
                    
                },
                {
                    "type": "text",
                    "id": "answer_3",
                    "label": "Add Answer 3"     
                }
            ]
        }
    ]
}
{% endschema %}