{{ 'reviews-list-scroll-section.css' | asset_url | stylesheet_tag }}
<review-list-scroll>
<div class="reviews_list_scroll_section" style="background-color: {{ section.settings.background_color_section }};">
  <h1 class="title_section" style="color:{{ section.settings.title_section_color }}">
    {{ section.settings.title_section }}
  </h1>
  <div class="reviews_wrapper">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'review_block' -%}
          <div class="review" style="background-color: {{ block.settings.review_bg_color }};">
            <h1 class="title_review" style="color: {{ block.settings.text_block_color }};">
              {{ block.settings.title_block }}
            </h1>
            <h2 class="text_review" style="color: {{ block.settings.text_block_color }};">
              {{ block.settings.text_review_block }}
            </h2>
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>    
  <div class="tabs_container">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'review_block' -%}
          <div class="tab" style="background-color: {{ section.settings.tabs_color }};"></div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</div>
</review-list-scroll>
{{ 'review-list-section.js' |  asset_url |  script_tag }}
{% schema %}
{
  "name": "Reviews List Scroll",
  "settings": [
    {
      "type": "color",
      "id": "background_color_section",
      "default": "#000000",
      "label": "Choose Section Background"
    },
    {
      "type": "text",
      "id": "title_section",
      "default": "HEAR IT FROM 10,000+ HAPPY BLOOMIES",
      "label": "Select The title for the section"
    },
    {
      "type": "color",
      "id": "title_section_color",
      "default": "#ffffff",
      "label": "Choose Title Color"
    },
    {
            "type": "color",
            "id": "tabs_color",
            "default": "#ffffff",
            "label": "Choose Tabs Background Color"
        }
  ],
  "blocks": [
    {
      "name": "Review Block",
      "type": "review_block",
      "settings": [
        {
          "type": "text",
          "id": "title_block",
          "label": "Title Review Block",
          "default": "I LOVE MY BLOOM!"
        },
        {
        "type": "richtext",
        "id": "text_review_block",
        "label": "Text Review Block"
      }, {
        "type": "color",
        "id": "subtitle_color_table",
        "default": "#ffffff",
        "label": "Table subtitle Color"
      },
        {
          "type": "color",
          "id": "text_block_color",
          "label": "Text Feature Color",
          "default": "#000000"
        },
        {
            "type": "color",
            "id": "review_bg_color",
            "default": "#ffffff",
            "label": "Choose Review Background Color"
        }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews List"
    }
  ]
}
{% endschema %}
